*{
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    color: black;
    transition: background-color 0.4s ease, color 0.4s ease;
}

.dark-mode {
    background-color: black;
    color: white;
    
}

.dark-mode .box{
    border-color: white;
}



.box{
    width: 350px;
    border: 1px solid black;
    padding: 25px;
    border-radius: 20px;

}

li {
    margin-left: 1em;
    
}

@media (max-width: 700px){
    .box{
        width: 25em;
        padding: 10px;
        text-align: center;
    }
    .box li{
        text-align: start;
    }
}