*{
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.box{
    width: 350px;
    border: 1px solid black;
    padding: 25px;
    border-radius: 20px;

}

@media (max-width: 700px){
    .box{
        width: 25em;
        padding: 10px;
    }
}